<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>liste Immo</title>

        <link th:href="@{/assets/css/main.css}" rel="stylesheet" />
       
        <link th:href="@{/assets/sass/a.scss}" rel="stylesheet" />
        
            <link th:href="@{/assets/css/iz.css}" rel="stylesheet" />
    
        <noscript><link th:href="@{/assets/css/noscript.css}" rel="stylesheet" /></noscript>
  
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
    </head>
    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <a href="#" class="logo">Gestion immobilisation</a>
            </header>

            <!-- Nav -->
            <nav id="nav">
                <ul class="links">

                  <li class="active"><a href="init?page_id=0">Voir liste immo</a></li>
                     <li class="active"><a href="formrecherche">recherche</a></li>
                      <li class="active"><a href="formajout">Ajout immo</a></li>
                       <li class="active"><a href="formrechercheannee">recherche par année</a></li>

                </ul>
                 <ul class="icons">
                  
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
         
                    <li><a href="https://github.com/safidiarijaonagit8" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">

                <!-- Post -->
                <section class="post">
                    <header class="major">
                     
                        <h1>Immo</h1><br />
                        
                        <div class="recherche">
       
                    
                        
                            </div>
                  

                    <h3 id="center"> Liste Immo</h3>
                    <br>
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>article</th>
                                    <th>prix achat</th>
                                    <th>date achat</th>
                                    <th>date mise en service</th>
                                    <th>durée amortissement</th>
                                    <th>catégorie</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<c:forEach var="immo" items="${listeImmo}">-->
									 <th:block th:each="immo : ${listeImmo}">

                                    <tr>
                                        <td class="price-pr">
                                              <div th:text="${immo.getArticle()}" class="d-flex px-2 py-1">
                                        </td>
                                       
                                       
                                        <td th:text="${immo.getPrixAchat}" class="price-pr">

                                           
                                        </td>
                                          <td>

                                             <div  th:text="${#dates.format(immo.getDateAchat, 'dd-MMM-yyyy')}" class="d-flex px-2 py-1">
                                           
                                            
                                            </div>
                                        </td>
                                       <td id="daty">
                                           <div  th:text="${#dates.format(immo.getDateMiseEnService, 'dd-MMM-yyyy')}" class="d-flex px-2 py-1">
                                           
                                            
                                            </div>
                                        </td>
                                        <td th:text="${immo.getDureeAmortissement}" class="price-pr" id="daty">
                                            
                                        </td>

                                      
                                        <td class="price-pr">
                                              <div th:text="${immo.getNom()}" class="d-flex px-2 py-1">
                                        </td>

                                        <td>
                                            <form action="tableau"  method="GET">
                                                <input type="hidden" name="id" th:value="${immo.getId}">
                                                
                                                <input type="submit" value="Voir tableau">
                                            </form>
                                        </td>
                                    </tr>
                              </th:block>





                            </tbody>
                        </table>

              <ul class="pagination pagination-sm">
            
              <li class="page-item"><a class="page-link" href="init?page_id=0">1</a></li>
                <li class="page-item"><a class="page-link" href="init?page_id=1">2</a></li>
                <li class="page-item"><a class="page-link" href="init?page_id=2">3</a></li>
              </ul>
                        
                </section>
  <p>
     
  </p>

            </div>

            <!-- Footer -->


            <!-- Copyright -->
            <div id="copyright">
                <ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
            </div>

        </div>

        <!-- Scripts -->
<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
     
		<script type="text/javascript" th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/browser.min.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/breakpoints.min.js}"></script>
     
		<script type="text/javascript" th:src="@{/assets/js/util.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>

    </body>
</html>





