
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>recherche Immo</title>
          <link th:href="@{/assets/css/iz.css}" rel="stylesheet" />

        <link th:href="@{/assets/css/main.css}" rel="stylesheet" />
             <link th:href="@{/assets/css/immo.css}" rel="stylesheet" />
       
        <link th:href="@{/assets/sass/a.scss}" rel="stylesheet" />
    
        <noscript><link th:href="@{/assets/css/noscript.css}" rel="stylesheet" /></noscript>
  
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
      
    </head>
    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
              <header id="header">
                <a href="#" class="logo">Gestion immobilisation</a>
            </header>

            <!-- Nav -->
            <nav id="nav">
                <ul class="links">

                   <li class="active"><a href="init?page_id=0">Voir liste immo</a></li>
                     <li class="active"><a href="formrecherche">recherche</a></li>
                      <li class="active"><a href="formajout">Ajout immo</a></li>
                       <li class="active"><a href="formrechercheannee">recherche par année</a></li>

                </ul>
               <ul class="icons">
                  
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
         
                    <li><a href="https://github.com/safidiarijaonagit8" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">

                <!-- Post -->
                <section class="post">
                    <header class="major">

                        <h1>Immo</h1><br />
                        
                        <div >
                        <form action="rechercheannee" method="GET">
                    
                      <div class="form-floating mb-3"> 
                            <label id="label1">Année</label>
                            <select id="select1" name="an" >
                             
						 <option th:each="an : ${annees}" th:value="${an.intValue()}" th:text="${an.intValue()}"></option>

                            

                            </select>
                        </div>
                        <br>
                  
                        <div class="form-floating mb-3">  
                    
                        <br>
                       
                        <div class="form-floating mb-3">  

                            <input type="submit" class="form-control" id="floatingInput" value="Voir liste Amortissement">

                        </div>
                           </div>
                    </form>
                     
                           

                  
                </section>

            </div>

            <!-- Footer -->


            <!-- Copyright -->
            <div id="copyright">
                <ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
            </div>

        </div>

        <!-- Scripts -->

        	<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
     
		<script type="text/javascript" th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/browser.min.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/breakpoints.min.js}"></script>
     
		<script type="text/javascript" th:src="@{/assets/js/util.js}"></script>
      
		<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>

    </body>
</html>





